<mat-form-field style="padding: 10px; width: calc(100% - 20px);">
  <mat-label *ngIf="label" [ngStyle]="{'padding': icon ? '0 0 0 1.5rem' : '0'}">{{label}}</mat-label>
  <div style="display: flex; align-items: center;">
    <input matInput [formControl]="control" autocomplete="off"
    [required]="required"
    [placeholder]="placeholder"
    [type]="type"
    [matTooltip]="tooltip"
    [matTooltipPosition]="tooltipPosition"
    [matTooltipHideDelay]="200"
    [matTooltipShowDelay]="200"
    >
    <mat-icon *ngIf="icon" matPrefix style="order: -1;">{{icon}}</mat-icon>
  </div>
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>
  <mat-error *ngIf="control.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
