<mat-card class="mat-elevation-z8" [formGroup]="form">
  <mat-card-header>
    <mat-card-title>ویرایش اطلاعات بیماران</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row flex align-items-center">
      <div class="col-10">
        <app-input formControlName="search" nationalcode label="کدملی" hint="از حروف انگلیسی برای وارد کردن کدملی استفاده نمایید." required></app-input>
      </div>
      <div class="col-2">
        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSearchFilter()">جستجو</button>
      </div>
    </div>


    <div *ngIf="isLoaded" class="loaded-patient">
      <label>{{patient.first_name + ' ' + patient.last_name}}</label>
      <app-edit-patient *ngIf="isLoaded" [patient]="patient"></app-edit-patient>
    </div>
  </mat-card-content>
</mat-card>
