<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>ویرایش اطلاعات بیماران</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; margin-top: 2rem;">
      <mat-form-field style="padding: 0 2rem;">
        <input matInput placeholder="کد‌ملی"  (keyup.enter)="onSearchFilter($event.target.value)" required>
      </mat-form-field>
    </div>


    <div *ngIf="isLoaded" class="loaded-patient">
      <label>{{patient.first_name + ' ' + patient.last_name}}</label>
      <app-edit-patient *ngIf="isLoaded" [patient]="patient"></app-edit-patient>
    </div>
  </mat-card-content>
</mat-card>
