<div style="display: flex; justify-content: space-between; text-align: center;">
  <mat-card class="mat-elevation-z8">
    <mat-card style="display: contents;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>پیغام‌های خوانده نشده</mat-expansion-panel-header>
          <app-unread-message></app-unread-message>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <hr>
    <mat-card style="display: contents;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>پیغام‌های خوانده شده</mat-expansion-panel-header>
          <app-other-message></app-other-message>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
</mat-card>
</div>
