<mat-dialog-content>
  <mat-spinner *ngIf="!isLoaded"></mat-spinner>
  <div *ngIf="isLoaded" class="container pb-5">
    <h1 mat-dialog-title style="margin-bottom:0; text-align: right;">{{person["name"]}}</h1>
    <h3 mat-dialog-title style="text-align: right;">( {{ person["speciality"]}} )</h3>
    <ul class="list-group" dir="rtl">

      <li class="list-group-item bg-success text-white p-3 text-center" *ngIf="person['role'] === 'admin'">مدیر</li>
      <li class="list-group-item bg-warning p-3 text-center" *ngIf="person['role'] === 'user'">کاربر</li>

      <li class="list-group-item">کد‌ملی: {{person["national_code"] | farsi}}</li>

      <li class="list-group-item">استان: {{person['location'] || ''}}</li>

      <li class="list-group-item">تلفن همراه: {{person["mobile"] || '' | farsi}}</li>

      <li class="list-group-item">بیمارستان: {{person["hospital"] || person['hospital']}}</li>
      <li class="list-group-item">آدرس بیمارستان: {{person["hospital_address"] || ''}}
      </li><li class="list-group-item">تلفن بیمارستان: {{person["hospital_phone"] || '' | farsi}}</li>

      <li class="list-group-item">آدرس مطب: {{person["office_address"] || ''}}</li>
      <li class="list-group-item">تلفن مطب: {{person["office_phone"] || '' | farsi}}</li>


      <li *ngIf="person['university']" class="list-group-item">هیئت علمی دانشگاه: {{person['university'] | farsi}}</li>
      <li *ngIf="person['university_grade']" class="list-group-item">رتبه علمی: {{person['university_grade'] | farsi}}</li>
    </ul>
  </div>

  <mat-slide-toggle color="primary" [checked]="person['active']" [disabled]="['super_admin', 'admin'].includes(person['role'])" (change)="changeUserActiveness($event)"
  >{{userStatus}}</mat-slide-toggle>
</mat-dialog-content>
<div mat-dialog-actions style="display: flex; justify-content: center;">
  <button mat-flat-button color="accent" (click)="editUserPassword()">تنطیم مجدد رمز عبور</button>
  <button mat-flat-button color="primary" mat-dialog-close>بستن</button>
</div>
