mat-form-field {
  margin: auto;
  padding: 1rem 2rem;
  width: 50%
}

mat-card {
  margin: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  mat-form-field {
    margin: auto;
    padding: .5rem 2rem;
    width: 100%
  }
  
  mat-card {
    margin: 1rem;
  }
}