<div style="display: flex; justify-content: space-between; text-align: center;">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>ارتباط با پشتیبان</mat-card-title>
    </mat-card-header>
    <mat-card style="display: contents;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>پیغام‌های قبلی</mat-expansion-panel-header>
          <app-messages></app-messages>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <hr>
    <mat-card-content [formGroup]="form">
      <div class="row">
        <div class="col">
          <app-input formControlName="title" label="عنوان"></app-input>
        </div>
        <div class="col"></div>
      </div>
      <div class="row w-100">
        <div class="col w-100">
          <mat-form-field style="padding: 10px; width: calc(100% - 20px);">
            <mat-label>متن پیغام</mat-label>
            <textarea matInput formControlName="message" style="height: 300px"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row justify-content-end m-2">
        <button mat-flat-button color="warn" [disabled]="form.invalid" (click)="sendMessage()">ارسال</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
