mat-form-field{
  width: 100%;
}

mat-select{
  width: 35%;
  min-width: 250px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 1px 6px 9px 0px #673ab759;
  padding: 3px 14px;
}
